[Unit]
Description=Rig Reporter
Requires=network.target

[Service]
### use non root user example below:
#User=mao
Type=simple
#ExecStart=/usr/bin/python3 /data/miner_status/miner_status_pool.py
#ExecStart=/usr/bin/python3 /s/worker_status_reporter/rig_status_local_reporter.py
ExecStart=/s/gaoyan/gaoyan_rig_reporter
ExecStop=/bin/kill -s TERM $MAINPID
#ExecStopPost=/bin/rm -f /tmp/TTAA.*.lock
KillMode=control-group
#StandardOutput=null
CPUSchedulingPolicy=idle
Nice=19
Restart=always
#WatchdogSec=90s
RestartSec=5
StartLimitInterval=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Rig


[Install]
WantedBy=multi-user.target
