[Unit]
Description=Hive Pool Monitor
Requires=network.target

[Service]
### use non root user example below:
User=mao
Type=simple
#ExecStart=/usr/bin/python3 /data/miner_status/miner_status_pool.py
ExecStart=/s/gaoyan/gaoyan_hive_pool_reporter
ExecStop=/bin/kill -s TERM $MAINPID
#ExecStopPost=/bin/rm -f /tmp/TTAA.*.lock
KillMode=control-group
#StandardOutput=null
CPUSchedulingPolicy=idle
Nice=19
Restart=always
RestartSec=5
StartLimitInterval=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Hhive


[Install]
WantedBy=multi-user.target
