[Unit]
Description=Gaoyan Meter Reporter
After=network.target

[Service]
Type=simple
User=root
#WatchdogSec=90s
Restart=on-failure
RestartSec=5s
#ExecStart=/usr/bin/python3 /s/worker_status_reporter/power_meter_reporter.py
ExecStart=/s/gaoyan/gaoyan_meter_reporter
SyslogIdentifier=Meter

[Install]
WantedBy=multi-user.target

